---
import { Content } from "../../README.md";
import Main from "../layouts/Main.astro";
---

<Main title="Mraph.js">
    <div></div>
    <Content class="body" />
</Main>

<style>
    div {
        height: 25px;
    }
</style>
