---
import TopBar from "../components/TopBar.astro";
import "github-markdown-css";

interface Props {
    title?: string;
}

const { title = "" } = Astro.props;
---

<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>
    </head>
    <body>
        <TopBar title={title} />

        <div class="markdown-body">
            <slot />
        </div>
    </body>
</html>

<style>
    body {
        margin: 0;
    }

    .markdown-body {
        min-width: 200px;
        padding: 45px;
        padding-left: 150px;
        padding-right: 150px;
    }

    @media (max-width: 767px) {
        .markdown-body {
            padding: 15px;
        }
    }
</style>
