---
interface Props {
    title?: string;
    src?: string;
    isFocusing?: Boolean;
}

const { title = "", src = "", isFocusing = false } = Astro.props;
---

<li class={isFocusing ? "focusing" : ""}>
    <a href={src}>{title}</a>
</li>

<style>
    li {
        height: 3px;
        min-width: 100px;
        padding: 10px;
        margin: 3px;
        display: flex;
        align-items: center;
        transition: all 0.2s;
    }

    li.focusing {
        height: 10px;
        transform: translateX(5px);
        border: 1px solid rgba(225, 225, 225, 0.3);
        border-radius: 5px;
    }
    li.focusing a {
        color: #fe63a1;
        font-weight: bolder;
    }
    li.focusing:hover a {
        color: #fe63a1;
        transform: translateX(0px);
    }

    li:hover a {
        color: #fe63a1;
        transform: translateX(5px);
    }

    a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        color: aliceblue;
        text-decoration: none;
        font-family: var(--font-family);
        font-size: 80%;
    }
</style>
