---
import Link from "./Link.astro";

interface Props {
    list?: string[];
    focus?: string;
}

const { list = [""], focus = "" } = Astro.props;
---

<button></button>
<ul>
    <a href="https://github.com/SeiyaCooper/Mraph.js">Mraph.js</a>
    <a href="https://seiyacooper.github.io/Mraph.js/" class="nav-link"
        >HomePage</a
    >
    <a href="/Mraph.js/gallery" class="nav-link">Examples</a>
    {
        list.map((title) => (
            <Link
                title={title}
                src={`/Mraph.js/gallery/${title}`}
                isFocusing={title === focus}
            />
        ))
    }
</ul>

<script>
    const button = document.querySelector("button") as HTMLButtonElement;
    const ul = document.querySelector("ul") as HTMLUListElement;
    let visible = false;
    button.onclick = () => {
        visible = !visible;
        if (visible) {
            ul.style.left = "0";
            button.style.rotate = "180deg";
        } else {
            ul.style.left = "-100%";
            button.style.rotate = "0deg";
        }
    };
</script>

<style>
    button {
        width: 7vh;
        height: 7vh;
        min-width: 35px;
        min-height: 35px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: transparent;
        background-image: url("/Mraph.js/chevrons-right.svg");
        background-size: 65%;
        background-position: center;
        background-repeat: no-repeat;
        border: none;
        outline: none;
        transition: rotate 0.3s;
    }

    ul {
        position: absolute;
        width: 22vw;
        height: 100vh;
        overflow-y: auto;
        margin: 0;
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 10px;
        border-right: 1px solid rgba(220, 220, 255, 0.3);
        top: calc(100% + 1px);
        left: -100%;
        list-style: none;
        transition: left ease-in-out 0.3s;
        backdrop-filter: blur(6px);
        background-color: #191920;
    }

    @media (max-width: 767px) {
        ul {
            width: 55vw;
        }
    }

    ul a {
        display: block;
        position: relative;
        left: 0;
        color: aliceblue;
        font-family: var(--font-family);
        font-weight: bold;
        font-size: large;
        text-decoration: none;
    }

    ul a.nav-link {
        height: 40px;
        width: 96%;
        line-height: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
        padding-left: 7px;
        border-bottom: 1px solid rgba(220, 220, 255, 0.3);
        color: aliceblue;
        font-family: var(--font-family);
        font-size: small;
    }

    ul a.nav-link:hover {
        color: #ff574b;
    }
</style>
