---
import Link from "./Link.astro";

interface Props {
    list?: string[];
    focus?: string;
}

const { list = [""], focus = "" } = Astro.props;
---

<button></button>
<ul>
    {
        list.map((title) => (
            <Link title={title} src={`/Mraph.js/gallery/${title}`} />
        ))
    }
</ul>

<script>
    const button = document.querySelector("button") as HTMLButtonElement;
    const ul = document.querySelector("ul") as HTMLUListElement;
    let visible = false;
    button.onclick = () => {
        visible = !visible;
        if (visible) {
            ul.style.left = "0";
            button.style.rotate = "180deg";
        } else {
            ul.style.left = "-100%";
            button.style.rotate = "0deg";
        }
    };
</script>

<style>
    button {
        width: 10vh;
        height: 10vh;
        position: absolute;
        top: 0;
        left: 0;
        background-color: transparent;
        background-image: url("/Mraph.js/chevrons-right.svg");
        background-size: 65%;
        background-position: center;
        background-repeat: no-repeat;
        border: none;
        transition: rotate 0.3s;
    }

    ul {
        position: absolute;
        width: 20vw;
        height: 100vh;
        overflow-y: auto;
        margin: 0;
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 10px;
        top: calc(10vh + 1px);
        left: -100%;
        list-style: none;
        transition: left ease-in-out 0.3s;
        background-color: rgba(30, 30, 30, 0.5);
    }

    @media (max-width: 767px) {
        ul {
            width: 55vw;
        }
    }
</style>
