---
import NavBar from "./NavBar.astro";

interface Props {
    title?: string;
}

const { title = "" } = Astro.props;

const examples = [
    "Basic Example",
    "Rubik's Cube",
    "Electric Field",
    "Magnetic Focus",
    "Orbit Animation",
    "Axes2D",
    "Animation Set",
];
---

<div>
    <h1>{title}</h1>
    <NavBar list={examples} focus={title} />
</div>

<style>
    div {
        width: calc(100% - 2px);
        height: 7vh;
        min-height: 35px;
        position: fixed;
        background-color: rgba(15, 15, 25, 0.5);
        border: 1px solid rgba(220, 220, 255, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(6px);
    }

    div h1 {
        color: aliceblue;
        font-family: var(--font-family);
        font-size: 120%;
    }
</style>
